<%- include ../partials/header.ejs %>
   <%- include ../partials/main_nav.ejs %>
      <!--Main Content-->
      <main class="container">
         <div class="jumbotron">
            <h1 class="display-4">Welcome! to the <%= title %>
            </h1>
            <!--message area-->
            <% if(messages.length>0 ) { %>
               <div class="alert alert-danger">
                  <%= messages %>
               </div>
               <% } %>
                  <div class="row">
                     <div class="offset-md-2 col-md-4">
                        <h1>Please Register</h1>
                        <form method="POST" action="/register" autocomplete="on">
                           <fieldset class="form-group"><label for="name">Username: </label>
                              <input type="text" class="form-control" name="username" placeholder="Enter Username" id="name"
                                 required autofocus>
                           </fieldset>

                           <fieldset class="form-group"><label for="address">Address: </label>
                              <input type="text" class="form-control" name="address" placeholder="Enter Address"
                                 id="address">
                           </fieldset>

                           <fieldset class="form-group"><label for="dob">Date of Birth: </label>
                              <input type="text" class="form-control" name="dob" placeholder="Enter DOB in DDMMYYYY"
                                 id="dob" required>
                           </fieldset>

                           <fieldset class="form-group"><label for="gender">Gender: </label>
                              <input type="text" class="form-control" name="gender" placeholder="Enter Gender F/M"
                                 id="gender" required>
                           </fieldset>

                           <fieldset class="form-group"><label for="email">Email: </label>
                              <input type="email" class="form-control" name="email" placeholder="Enter Email" id="email"
                                 required>
                           </fieldset>

                           <fieldset class="form-group"><label for="profile">Profile: </label>
                              <!-- <input type="text" class="form-control" name="profile" placeholder="Enter P/D/N"
                                 id="profile" required> -->
                                 <select name="profile" class="custom-select" style="width:200px;">
                                    <% for (const i in profileOptions) { %>
                                      <option class=" form-control" value="<%=profileOptions[i].ID%>">
                                        <%= profileOptions[i].Name %>
                                      </option>
                                      <% } %>
                                        </select>
                           </fieldset>

                           <fieldset class="form-group"><label for="password">Password: </label>
                              <input type="password" class="form-control" name="password" placeholder="Enter Password"
                                 id="password" required>
                           </fieldset>

                           <fieldset class="form-group text-right">
                              <input type="submit" class="btn btn-success" Value="Register">
                              <a href="/">
                                 <input type="button" class="btn btn-warning" value="Cancel"></a>
                           </fieldset>
                        </form>
                     </div>
                  </div>
         </div>
      </main>



      <%- include ../partials/bottom_nav.ejs %>
         <%- include ../partials/footer.ejs %>