<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>

    <!--Main Content-->
    <main class="container">
      <div class="jumbotron">
        <h3 class="display-4"> <%= title %></h3>
        
      </div>
    </main>
    <div body><center>
    <%- include partials/displaytext.ejs %>
    </center></div>
    <%- include partials/bottom_nav.ejs %>
    <%- include partials/footer.ejs %>