<%- include partials/header.ejs %>
  <%- include partials/main_nav.ejs %>


    <!--Main Content-->
    <main class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome! to the <%= title %>
        </h1>
        <br>
        <fieldset class="form-group text-right">
          <a href="/preExaminationPage">
            <input type="button" class="btn btn-success" value="Add"></a>
        </fieldset>
        <br>
        <!--message area-->
        <% if(messages.length>0 ) { %>
          <div class="alert alert-danger">
            <%= messages %>
          </div>
          <% } %>
            <center>
              <div style="width:auto; border-style: solid;border-color: black;">
                <table class="table table-border table-hover">
                  <thead class="bg-warning">
                    <tr>
                      <th> s.no </th>
                      <th> Patient Name </th>
                      <th> Height </th>
                      <th> Weight </th>
                      <th> Temperature </th>
                      <th> Date </th>
                      <th> Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <%for(var i=0;i< data.length;i++){%>
                      <tr>
                        <td>
                          <%=i+1%>
                        </td>
                        <td>
                          <%=data[i].name%>
                        </td>
                        <td>
                          <%=data[i].height%>
                        </td>
                        <td>
                          <%=data[i].weight%>
                        </td>
                        <td>
                          <%=data[i].temperature%>
                        </td>
                        <td>
                          <%= new Date(data[i].created).toLocaleString()%>
                        </td>
                        <td>
                          <a class="btn btn-raised btn-secondary" href="/update/<%= data[i]._id %>">Update</a>&nbsp;
                          <a class="btn btn-raised btn-danger" href="/delete/<%= data[i]._id %>">Delete</a>
                        </td>
                      </tr>
                      <%}%>
                  </tbody>
                </table>
              </div>
            </center>
      </div>
    </main>

    <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>